<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.samsungxr.avatar_fashion"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- This tag indicates that this application requires ARCore.  This results in the application
    only being visible in the Google Play Store on devices that support ARCore. -->
    <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>

    <application
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@drawable/sxr_192x192"
        android:label="com.samsungxr.avatar_fashion">
        <meta-data android:name="${metaDataName}" android:value="${metaDataValue}"/>
        <activity
            android:name="com.samsungxr.avatar_fashion.AvatarFashionActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:label="com.samsungxr.avatar_fashion" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- This tag indicates that this application requires ARCore.  This results in the Google Play
    Store downloading and installing ARCore along with the application. -->
        <meta-data android:name="com.google.ar.core" android:value="required" />
    </application>

</manifest>
