<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.samsungxr.sxrshadowssample"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sxr_192x192"
        android:label="@string/app_name">

        <meta-data android:name="${metaDataName}" android:value="${metaDataValue}"/>

        <activity
            android:name="com.samsungxr.sxrshadowssample.ShadowsActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
